<!-- app.component.html -->
<div class="wrapper">
  <img
    class="illustration"
    src="images/illustration-article.svg"
    alt="article illustration"
  />
  <div class="content">
    <div class="category text-preset-3--bold">Learning</div>
    <div class="text-preset-3">Published 21 Dec 2023</div>
    <div class="text-preset-1 title">HTML & CSS foundations</div>
    <div class="text-preset-2">
      These languages are the backbone of every website, defining structure,
      content, and presentation.
    </div>
  </div>
  <div class="author">
    <img class="avatar" src="images/image-avatar.webp" alt="author avatar" />
    <div class="text-preset-3--bold">Marcel Kleint</div>
  </div>
</div>
